@{
    ViewBag.Title = "About";
    Layout
}
<h2>@ViewBag.Title.</h2>
<h3>Fashionista</h3>

<p>Fashionista is a online fashion store that provides best quality fashion suits at very reasonable prices  </p>
