@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<p>PLEASE ENTER VALID USERNME/PASSWORD</p>
<form action="Check" method="post">
    <input type="text" name="username" id="username" />
    <input type="password" name="pass" id="pass" />
    <input type="submit" value="submit">




</form>
