@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Feel FREE to Contact Us</h3>

<address>
    Fashionista<br />
    53-Babar market,lahore<br />
    <abbr title="Phone">P:</abbr>
    0313-4279223.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>